[General]
# Path to sqlite db-file
# default: /path/to/tapokbot/folder/tapok_sqlite.db
db_path=
[Telegram]
# Admin user id (message.from_user.id).
# Main admin - can change event, add event-admins, recieve errors etc.
admin_id=111111111
# TG-token from @BotFather
token=123421312:exampleforapitgtoken123514323
# None|HTML|Markdown
parse_mode=Markdown
[Rclone]
#
#           apt install -y rclone && rclone config
# make your own remote point.
#
remote_point_name=remote_point_name_here